@import "tailwindcss";
@import "@nuxt/ui-pro";

:root {
    --ui-header-height: --spacing(20);
    --ui-bg: var(--ui-color-primary-50);
}
.dark {
    --ui-bg: var(--ui-color-neutral-900);
    --ui-border: var(--ui-color-neutral-900);
}
h1, h2, h3, h4 , h5, h6 {
    @apply font-bold text-orange-500;
}




